version: '3.4'
services:
  nginx:
    image: nginx:stable-alpine
    # restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      # - ./public_html:/public_html
      - ./conf.d/dev:/etc/nginx/conf.d/
      - ./dhparam:/etc/nginx/dhparam
      - ~/ssl/certbot/conf/:/etc/nginx/ssl/
      - ~/ssl/certbot/data:/usr/share/nginx/html/letsencrypt
